<!DOCTYPE html>
<html land="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style_check.css">
</head>

<body>
    <form class="form" method="post">
        <div>Оставить отзыв:</div>
        <div><label for="ad">Наша пиццерия ценит краткость. Опишите ваши впечатления о нас одним словом: </label>
            <input name='comment' class='text_input' type="text" placeholder="Комментарий" value=''>
        </div>
        <div><button id="send">Отправить</button></div>
        <div><button id="close">Закрыть</button></div>
    </form>
</body>
