<!DOCTYPE html>
<X-Content-Type-Options: nosniff>
<html land = "ru">
    <head>
        <meta charset="utf-8">
        <title> Пицца </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!--<script src="app.js"></script>-->
    </head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_check.css">
    <body>
        <div class="container">
            <div  class = "name-catalog"> <a name="catalog">Пицца</a> </div>
            <div class="row" id="row">
                <div class="col">
                    <a href="/pizza1"  title="Три сыра">
                    <div><img id="first" width=150px height=150px src="/images/cheese.jpeg" alt="Три сыра"></div>
                    </a>
                    <p>Три сыра</p>
                    <p>от 380 &#8381</p>
                </div>
                        
                <div class="col">
                    <a href="/pizza2"  title="Пепперони">
                    <div><img id="second" width=150px height=150px src="/images/peppero.jpg" alt="Пепперони"></div></a>
                    <p>Пепперони</p>
                    <p>от 380 &#8381</p>
                </div>
                
                <div class="col">
                    <a href="/pizza3"  title="Гавайская">
                    <div><img id="third" width=150px height=150px src="/images/gavayskaya-pitstsa%20(2).png" alt="Гавайская"></div></a>
                    <p>Гавайская</p>
                    <p>от 380 &#8381</p>
                </div>
                
                <div class="col">
                    <a href="/pizza4"  title="Грибная">
                    <div><img id="forth" width=150px height=150px src="/images/%D0%B3%D1%80%D0%B8%D0%B1%20(2).jpg" alt="Грибная"></div></a>
                    <p>Грибная</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza5"  title="Пицца-пирог">
                    <div><img id="fifth" width=150px height=150px src="/images/%D1%81%D0%BB%D0%B2%D0%B4%20(2).jpg" alt="Пицца-пирог"></div></a>
                    <p>Пицца-пирог</p>
                    <p>от 380 &#8381</p>
                </div>
                
                <div class="col">
                    <a href="/pizza6"  title="Маргарита">
                    <div><img id="sixth" width=150px height=150px src="/images/%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%20(2).jpg" alt="Маргарита"></div></a>
                    <p>Маргарита</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza7"  title="Маринара">
                    <div><img id="seventh" width=150px height=150px src="/images/%D0%BC%D0%B0%D1%80%D0%B8%D0%BD%D0%B0%D1%80%20(2).jpg" alt="Маринара"></div></a>
                    <p>Маринара</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza8"  title="Мясная">
                    <div><img id="eigth" width=150px height=150px src="/images/%D0%BC%D1%8F%D1%81%D0%BD.jpeg" alt="Мясная"></div></a>
                    <p>Мясная</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza9"  title="Баварская">
                    <div><img id="ninth" width=150px height=150px src="/images/pitstsa_bavarskaya%20(2).jpg" alt="Баварская"></div></a>
                    <p>Баварская</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza10"  title="Чикен Карри">
                    <div><img id="tenth" width=150px height=150px src="/images/%D1%87%D0%B8%D0%BA%D0%BA%D0%B0%D1%80%20(2).jpg" alt="Чикен Карри"></div></a>
                    <p>Чикен Карри</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza11"  title="Сицилийская">
                    <div><img id="eleventh" width=150px height=150px src="/images/%D1%81%D0%B8%D1%86%D0%B8%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%20(2).jpg" alt="Сицилийская"></div></a>
                    <p>Сицилийская</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza12"  title="Микс">
                    <div><img id="twelvth" width=150px height=150px src="/images/%D0%BC%D0%B8.png" alt="Микс"></div></a>
                    <p>Микс</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza13"  title="Вегетарианская">
                    <div><img id="thirteenth" width=150px height=150px src="/images/%D0%B2%D0%B5%D0%B3%D0%B5%D1%82%20(2).jpg" alt="Вегетарианская"></div></a>
                    <p>Вегетарианская</p>
                    <p>от 380 &#8381</p>
                </div>

                <div class="col">
                    <a href="/pizza14"  title="Греческая">
                    <div><img id="fourteenth" width=150px height=150px src="/images/grecheskaya-1200x800%20(2).jpg" alt="Греческая"></div></a>
                    <p>Греческая</p>
                    <p>от 380 &#8381</p>
                </div>
            </div>     
        </div>
        <script>
        let pizza = [];
        let imgs = [];
        imgs.push(first.getAttribute('Src'));
        imgs.push(second.getAttribute('Src'));
        imgs.push(third.getAttribute('Src'));
        imgs.push(forth.getAttribute('Src'));
        imgs.push(fifth.getAttribute('Src'));
        imgs.push(sixth.getAttribute('Src'));
        imgs.push(seventh.getAttribute('Src'));
        imgs.push(eigth.getAttribute('Src'));
        imgs.push(ninth.getAttribute('Src'));
        imgs.push(tenth.getAttribute('Src'));
        imgs.push(eleventh.getAttribute('Src'));
        imgs.push(twelvth.getAttribute('Src'));
        imgs.push(thirteenth.getAttribute('Src'));
        imgs.push(fourteenth.getAttribute('Src'));
            //alert(typeof pizza);    
        pizza.push(first.getAttribute('Alt'));
        pizza.push(second.getAttribute('Alt'));
        pizza.push(third.getAttribute('Alt'));
        pizza.push(forth.getAttribute('Alt'));
        pizza.push(fifth.getAttribute('Alt'));
        pizza.push(sixth.getAttribute('Alt'));
        pizza.push(seventh.getAttribute('Alt'));
        pizza.push(eigth.getAttribute('Alt'));
        pizza.push(ninth.getAttribute('Alt'));
        pizza.push(tenth.getAttribute('Alt'));
        pizza.push(eleventh.getAttribute('Alt'));
        pizza.push(twelvth.getAttribute('Alt'));
        pizza.push(thirteenth.getAttribute('Alt'));
        pizza.push(fourteenth.getAttribute('Alt'));
            
        //alert(imgs);        
        //alert(pizzas[0].title);
        //var imgs = document.querySelector('[src="element src attribute value"]');
        let myData = [pizza,imgs];
        //alert(myData);
        sessionStorage.setItem('myArray', JSON.stringify(myData));
        //localStorage.setItem( 'objectToPass', myData);
    </script>  
    </body>
 