<!DOCTYPE html>
<html land="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <script>
        //alert("Hello");
        let myArray = sessionStorage.getItem('myArray');
        //sessionStorage.clear();
        let myObject = JSON.parse(myArray);
        //alert(myObject[0][3]);
        let pizza_type = myObject[0][3];
        let pizza_picture = myObject[1][3];
        let base = 380;
        let add = 59;
        let tmp = base;
        let tmp2 = 0;
        let tmp3 = 0;
        let tmp4 = 0;

    </script>
</head>

<body onload="set_attr();">
    <div class="image">
        <img id="first" src="" title="">
    </div>
    <script type="text/javascript">
        function set_attr() {
            //var fieldValue= document.getElementById('first').value;
            document.getElementById("first").setAttribute('src', pizza_picture);
            document.getElementById("first").setAttribute('title', pizza_type);
            //let myData = [0,0,0,0];
            //sessionStorage.setItem('valArr', JSON.stringify(myData));
        }

    </script>
    <script>
        function plus(ElementId) {
            let count = document.getElementById(ElementId).value;
            count = Number(count) + 1;
            tmp += add;
            count = String(count);
            document.getElementById(ElementId).setAttribute('value', count);
            document.getElementsByName('total')[0].setAttribute('value', tmp);
            console.log(count);
            console.log(ElementId);
            console.log(tmp);
        }

        function minus(ElementId) {
            //console.log(Element);
            let count = document.getElementById(ElementId).value;
            if (count >= 1) {
                count = Number(count) - 1;
                tmp -= add;
                count = String(count);
                document.getElementById(ElementId).setAttribute('value', count);
                document.getElementsByName('total')[0].setAttribute('value', tmp);
                console.log(count);
                console.log(ElementId);
                console.log(tmp);

            }
        }

    </script>
    <p id="first_t"><span id="type">pizza_type</span></p>
    Основные ингредиенты<br>
    <div id="Ingr_1">
        <div>
            <input type="checkbox" id="Carbonara_sauce" name="tick" value="chosen" checked>
            <label for="Carbonara_sauce">Грибной соус</label>
        </div>
        <div>
            <input type="checkbox" id="Mozz" name="tick" value="chosen" checked>
            <label for="Mozz">Сыр Моцарелла</label>
        </div>
        <div>
            <input type="checkbox" id="Parm" name="tick" value="chosen" checked>
            <label for="Parm">Орегано</label>
        </div>
        <div>
            <input type="checkbox" id="Pom" name="tick" value="chosen" checked>
            <label for="Pom">Томаты</label>
        </div>
        <div>
            <input type="checkbox" id="Champ" name="tick" value="chosen" checked>
            <label for="Champ">Шампиньоны</label>
        </div>
    </div>

    Дополнительные ингредиенты<br>
    <div id="Ingr_2">
        <div class='main'>
            <button onclick='minus("counter");' class='down_count btn btn-info' title='Down'>-</button>
            <input class='counter' id="counter" type="text" placeholder="value..." value='0'>
            <button onclick='plus("counter");' class='up_count btn btn-info' title='Up'>+</button>
            <label for="Mush">Грибы</label>
        </div>
        <div class='main'>
            <button onclick='minus("counter2");' class='down_count btn btn-info' title='Down'>-</button>
            <input class='counter' id="counter2" type="text" placeholder="value..." value='0'>
            <button onclick='plus("counter2");' class='up_count btn btn-info' title='Up'>+</button>
            <label for="Oliv">Маслины</label>
        </div>
        <div class='main'>
            <button onclick='minus("counter3");' class='down_count btn btn-info' title='Down'>-</button>
            <input class='counter' id="counter3" type="text" placeholder="value..." value='0'>
            <button onclick='plus("counter3");' class='up_count btn btn-info' title='Up'>+</button>
            <label for="Pineap">Ананас</label>
        </div>
        <div class='main'>
            <button onclick='minus("counter4");' class='down_count btn btn-info' title='Down'>-</button>
            <input class='counter' id="counter4" type="text" placeholder="value..." value='0'>
            <button onclick='plus("counter4");' class='up_count btn btn-info' title='Up'>+</button>
            <label for="Chee">Соус Сырный</label>
        </div>
    </div>
    <br>
    Стоимость:<br>
     <input id='tot' name='total' placeholder="380" value="380" disabled />
    <a href='/create' title="Оформление" class='submit_button'><button onclick='submit();' title='Submit'>Оформить заказ</button></a>
    <a title="Отменить" class='submit_button1'><button onclick="history.back();" title='Go_back'>Изменить выбор</button></a>
    <script>
        document.getElementById('type').innerHTML = pizza_type;
        let total = document.getElementById('tot').getAttribute('value');
        sessionStorage.setItem('tot', JSON.stringify(total));
    </script>
</body>
