body {
    background-color: coral;
    //position: relative;
}

.form {
    background-color: aliceblue;
    border-radius: 5px;
    height: 200px;
    width: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
    float: left;
}

.field {
    clear: both;
    text-align: right;
    line-height: 25px;
}

label {
    float: left;
    padding-right: 10px;
}

.text_input {
    width: 300px;
}

.name-catalog {
    font-size: 150%;
}

.comment {
    max-width: width: 150%; /* Ширина поля в процентах */
    max-height:  height: 200px; /* Высота поля в пикселах */
    resize: none;
}
#send {
    height: 20px;
    position: absolute;
    left: 8px;
    bottom: 20px;
}
#close {
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

